#[user]
#	name = Adam Ginsburg
#	email = adam.g.ginsburg@gmail.com
[user]
[user]
	name = Adam Ginsburg (keflavich)
	email = keflavich@gmail.com
[core]
	excludesfile = /Users/adam/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "gvimdiff3"]
	cmd = mvim -u None -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "vimdiff3"]
	cmd = vim -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool "meld"]
	cmd = meld '\"$LOCAL\"' '\"$BASE\"' '\"$REMOTE\"' '\"$MERGED\"'
    keepBackup = false
	path = /Users/adam/bin/meld
[mergetool "nbmerge"]
      cmd = nbmerge $LOCAL $BASE $REMOTE $MERGED
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts mvim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
[remote-hg]
	hg-git-compat = true
[hub]
	protocol = git
[alias]
	unadd = reset HEAD
	unstage = reset --
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
