#[user]
#	name = Adam Ginsburg
#	email = adam.g.ginsburg@gmail.com
#[user]
#	name = Adam Ginsburg
#	email = keflavich@yahoo.com
[user]
	name = Adam Ginsburg (keflavich)
	email = keflavich@gmail.com
[hub]
	protocol = git
[alias]
	unadd = reset HEAD
	unstage = reset --
